<div class="page-content d-flex align-items-stretch">
  <!-- Side Navbar -->
  <nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
      <div class="avatar"><img src="assets/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
      <div class="title">
        <h1 class="h4">Mark Stephen</h1>
        <p>Web Designer</p>
      </div>
    </div>
    <!-- Sidebar Navidation Menus-->
    <!--<span class="heading">Main</span>-->
    <ul class="list-unstyled">
      <li class="active">
        <a routerLink=""> <i class="icon-home"></i>Home </a>
      </li>
      <li>
        <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-fw fa-users"></i>Employee Management</a>
        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
          <li><a routerLink="addteacher"> <i class="fa fa-angle-right"></i>Add Employee</a></li>
          <li><a routerLink="employeeList"> <i class="fa fa-angle-right"></i>Employee List</a></li>
        </ul>
      </li>
      <li>
        <a href="#exampledropdownDropdown1" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-fw fa-users"></i>Student Management</a>
        <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
          <li><a routerLink="addStudent"> <i class="fa fa-angle-right"></i>Add Student</a></li>
          <li><a routerLink="studentList"> <i class="fa fa-angle-right"></i>Student List</a></li>
        </ul>
      </li>
      <!--<li>
        <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Student Management</a>
        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
          <li><a href="#">Add Student</a></li>
          <li><a href="#">Student List</a></li>
        </ul>
      </li>-->
      <!--<li>
        <a routerLink="addteacher"> <i class="fa fa-users"></i>Add Teacher </a>
      </li>-->
       
      <li>
        <a routerLink="alerts"> <i class="fa fa-bar-chart"></i>E-activities </a>
      </li>
      
      <li>
        <a routerLink="attendanceReport"> <i class="icon-padnote"></i>Attendance Report</a>
      </li>
      
      <li>
        <a routerLink="timeSlote"> <i class="fa fa-clock"></i>Time Slots</a>
      </li>
    </ul><span class="heading">Extras</span>
    <ul class="list-unstyled">
      <li>
        <a routerLink="settings"> <i class="fa fa-wrench"></i>Settings</a>
      </li>
      <li>
        <a href="#"> <i class="fa fa-sign-out"></i>Logout</a>
      </li>
    </ul>
  </nav>

</div>
