<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Setting</h2>
  </div>
</header>

<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="row bg-white has-shadow justify-content-center">
      <div class="col-4">

        <div class="card hovercard">
          <div class="cardheader">

          </div>
          <div class="avatar">
            <img alt="" src="assets/img/avatar-3.jpg">
          </div>
          <div class="info">
            <div class="title">
              <a target="_blank" href="http://scripteden.com/">Script Eden</a>
            </div>
            <div class="desc">Passionate designer</div>
            <div class="desc">abc@gmail</div>
            <div class="desc">www.xyz.com</div>
          </div>
          <div class="bottom">
            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/+ahmshahnuralam">
              <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
              <i class="fa fa-behance"></i>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>